[submodule "sandbox"]
	path = sandbox
	url = https://github.com/sfu-ireceptor/sandbox
[submodule "irplus-tapis"]
	path = irplus-tapis
	url = https://github.com/ireceptor-plus/tapis.git
[submodule "vdjserver-agave"]
	path = vdjserver-agave
	url = https://bitbucket.org/vdjserver/vdjserver-agave.git
